# Configuración de la base de datos PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_CONTRASENA=tu_contraseña_aqui
DB_DATABASE=bumand_db

# Configuración del servidor
PORT=3000

# Configuración de JWT
JWT_SECRET=tu_secreto_super_seguro_para_jwt_aqui
JWT_EXPIRATION=24h
